@page "/editproduct/{Id:int}"
@inject HttpClient Http
@inject NavigationManager Navigation
@attribute [Authorize(Roles ="Admin")]
<h1>Editar producto</h1>
<br />

<FormularioProduct TextoBoton="Editar" OnValidSubmit="@Editar" product="@product" />

@code {
    [Parameter] public int Id { get; set; }

    Product product = new Product();


    async Task Editar()
    {
        await Http.SendJsonAsync(HttpMethod.Put, $"api/Product/{Id}", product);
        Navigation.NavigateTo("catalog");
        StateHasChanged();

    }

    protected async override Task OnParametersSetAsync()
    {
        product = await Http.GetJsonAsync<Product>($"api/Product/{Id}");
    }


}
